{% extends 'Food/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}

{% if user.is_authenticated %}

<p>You are already logged in.</p>

{% else %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <a href="{% provider_login_url 'google' %}" class="btn btn-social btn-google ml-2">
                <i class="fa fa-google"></i>Sign in using Google
            </a>
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">Need An Account? <a href="{% url 'users:register' %}" class="ml-2">Sign Up Now</a>
        </small>
    </div>
</div>

{% endif %}

{% endblock content %}