{% extends 'Food/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Add Food
{% endblock title %}

{% block content %}
<p class="add-food">Add Food Details</p>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>

</div>
{% endblock content %}