{% extends 'Food/base.html' %}
{% load food_extras %}

{% block title %}
    Food List
{% endblock title %}

{% block content %}

    {% if obj %}
        <h3>{{obj.count}} Results found</h3>
        <ul class="list-group ">
        {% for food in obj %}
        <li class="list-group-item">
            <a href=" {% url 'Food:detail' food.product_name food.id %} " >
                <p> {{food.product_name }} - {{ food.url|get_url}}</p>
            </a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <h3>{{obj.count}} Results found for the searched item.</h3>
    <a class= "btn btn-outline btn-outline-primary mt-3" href="{% url 'Food:home' %}">Back</a>
    {% endif %}

{% endblock content %}