{% extends 'Food/base.html' %}
{% load food_extras %}


{% block title %}
Food Detail
{% endblock title %}


{% block content %}
<div class="">
    <div class="food-detail"> 
        <span class="food-detail-header">{{ foodname }}</span>
        <a class= "btn btn-outline btn-outline-primary food-detail-link" style="float: right; clear: both;" href="{% url 'Food:list' foodname %}">Back</a> 
    </div>
    {% if value %}
    <table class="table table-border">
        <tbody>
            {% for key, val in value %}

            {% if val != '' and val != None and forloop.counter != 1%}
            <tr>
                <td><strong>{{key}}</strong></td>
                {% if forloop.counter == 4 %}
                <td><a href="{{val}}" target="_blank">{{val}}</a></td>
                {% else %}
                <td>{{val}}</td>
                {% endif %}
            </tr>
            {% endif %}

            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nothing here!</p>
    {% endif %}

    
</div>
{% endblock content %}