{% extends 'Food/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
<!-- <div class="jumbotron">
    <h1>Welcome to my Food App.</h1>
</div> -->
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <!-- <legend class="border-bottom mb-4"></legend> -->
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>

</div>
{% endblock content %}